<div class="container">
  <div class="row">
    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <ul class="nav nav-tabs" >
      <li role="presentation" class=<%= "active" unless current_page?(controller: 'products', action: 'ranking') %>>
        <%= link_to 'Home Page', root_path %>
      </li>
      <li role="presentation" class=<%= "active" if current_page?(controller: 'products', action: 'ranking') %>>
        <%= link_to 'TOP10', ranking_products_path %>
      </li>
    </ul>
  </div>
</div>

<div class="container">
  <div class="row">
    <ul class="nav nav-pills nav-pills-center">
      <% @categories.each do |category| %>
        <li role="presentation"><%= link_to category.name, category_path(category) %></li>
      <% end %>
    </ul>
    <br>
    <% @products.each do |product|%>
      <div class="col-md-1" style="width:20%" id="<%= product.id%>">
        <div class="product-item clearfix">
          <%= link_to product_path(product) do %>
            <img src="<%= product.image%>">
          <% end %>
          <div class="item-text">
            <h5><%= product.name %></h5>
            <div class="product-description">
              <%= truncate(product.description, length: 40 )%>
            </div>                     
          </div>           
        </div>
      </div>  
    <% end %>
  </div>
  <div class="text-center">
     <%= paginate @products %>
  </div>
</div>