<div class="container">
  <div class="row">

    <!-- 使用 Bootstrap components 的 Nav Tabs -->
    <!-- https://getbootstrap.com/docs/3.3/components/#nav-tabs -->
    <ul class="nav nav-tabs">
      <li role="presentation">
        <%= link_to 'Home Page', root_path %>
      </li>
      <li role="presentation" class="active">
        <%= link_to 'TOP10', ranking_products_path %>
      </li>
    </ul>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">

      <div class="page-header">
        <h1>Top 10 Products</h1>
      </div>


      <!-- 有多寫ranking-item的class style-->
      <% @products.each do |product| %>

        <div class="ranking-item">
          <div class="col-md-3">
            <%= link_to product_path(product) do %>
              <%= image_tag product.image, class: "img-responsive center-block" %>
            <% end %>
          </div>
          <div class="col-md-9">
            <h4>
              <%= product.name %>
              <span class="label label-default">Collections：<%= product.favorites_count %></span>
            </h4>
            <p><%= truncate(product.description, length: 200) %></p>
          </div>
          <div class="clearfix"></div>
        </div>
      <% end %>

    </div>
  </div>
</div>